/* BODY */
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Sukhumvit Set", "Helvetica Neue";
}

body {
  height: 100%;
  max-width: 100%;
  margin: 0 10%;
  padding: 0;
}

a {
  text-decoration: none;

  transition: color 100ms linear;
}

a:link {
  color: #000;
}

a:visited {
  color: #000;
}

a:active {
  color: #f3e5e4;
}

a:hover {
  color: #f3e5e4;
}

a::after {
    display:block;
    content:attr(title);
    font-weight:bold;
    height:1px;
    color:transparent;
    overflow:hidden;
    visibility:hidden;
    margin-bottom:-1px;
}

/* Header */
header {
  position: fixed;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;

  padding: 15px 0;

  height: 13%;

  z-index: 100;
  background-color: #fff;

  border-bottom: 1px solid #000;
}

.header-title {
  font-size: 2em;
  flex-grow: 6;
  align-self: center;
}

.header-title a:hover {
  font-weight: normal;
  color: #000;
}

.header-title a:active {
  font-weight: normal;
  color: #000;
}

.navigation  {
  font-size: 1em;
  align-self: center;

  flex-grow: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#mobile-navigation a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  cursor: hand;
}

#menu:hover {
  color: #f3e5e4;

  cursor: pointer;
  cursor: hand;
}

@media screen and (max-width: 800px) {
  #menu {
    display: block;
    align-self: center;
  }

  .navigation {
    display: none;
  }

  .show {
    display: block !important;
  }

  #mobile-navigation {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
    border-radius: 5px;
    overflow-x: hidden;

    top: 60px;
  }
}

@media screen and (min-width: 800px) {
  #menu {
    display: none;
  }

  #mobile-navigation {
    display: none;
  }

  .show {
    display: none;
  }
}


/* Footer */
footer {
  position: relative;
  bottom: -60px;
  left: 1%;

  width: 98%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  height: 40px;
}

.copyright {
  align-self: center;
  font-size: 0.9em;
}

.copyright i:hover {
  cursor: auto;
}

.social-media {
  font-size: 1.5em;
  align-self: center;

  display: flex;
  justify-content: center;

}

.social-media div {
  width: 1.5em;
}


.social-media a {
  color: #fff;
}

.social-media [class*="fa fa-"] {
    background-color: #000;
    border-radius: 30px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 3px;
    width: 30px;
    font-size: 15px;
    text-align: center;
}

.social-media [class*="fa fa-"]:hover {
  background-color: #f3e5e4;
}

/* Content */

.wrapper {
  height: 100%;
  width: 100%;
}

.content-wrapper {
  position: relative;
  top: 13%;

  margin: 0 auto;

  min-height: 80%;
  width: 100%;

  margin-bottom: 40px;

  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;

}

/* Instagram-like feed */

.project-container {
    padding-top: 2%;
    padding-right: 2%;
    padding-right: 2%;
    padding-left: 2.3%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    flex-wrap: wrap;
}

.project {
    text-align: center;
    flex: 1 0 auto;

    background-color: #f3e5e4;
}

.project:hover {
  color: white;
}

.project img {
  width: 100%;
  height: 100%;
}

.project:hover img {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);

  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .project {
      margin: 1%;

      max-width: 98%;
      max-height: 98%;

      min-width: 98%;
      min-height: 98%;
  }
}

@media screen and (min-width: 600px) and (max-width: 1100px) {
  .project {
      margin: 1%;

      max-width: 48%;
      max-height: 48%;

      min-width: 48%;
      min-height: 48%;
  }
}

@media screen and (min-width: 1100px) {
  .project {
      margin: 1.6%;

      max-width: 30%;
      max-height: 30%;

      min-width: 30%;
      min-height: 30%;
  }
}

.project:before {
    content:'';
    float:left;
    padding-top:100%;
}

.project .project-title {
  position: relative;
  top: -80%;
  text-align: center;
  width: 100%;
  font-weight: bold;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0,5s;
  transition: all 0.5s;

  color: white;
}

.project .project-title:after {
    content:' ';
    width: 20%;
    margin: auto;
    margin-top: 5%;
    display:block;
    border:1px solid #fff;
}

.project:hover .project-title {
  visibility: visible;
  opacity: 1;

  top: -70%;
}

.project .project-description {
  position: relative;
  top: -55%;
  text-align: center;
  width: 100%;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.5s;
  transition: all 0.5s;

  color: white;
}

.project:hover .project-description {
  visibility: visible;
  opacity: 1;

  top: -65%;
}

/* Slideshow */

@media screen and (min-width: 800px) {
  .slideshow-container {
    float: right;
    height: 95%;
    width: 49%;

    max-width: 49%;
    margin: 10px;
    padding: 0;
    padding-top: 20px;
  }

  .project-text h1 {
    padding-top: 10px;
  }
}

@media screen and (max-width: 800px) {
  .slideshow-container {
    height: 95%;
    width: 94%;

    max-width: 94%;
    margin: 10px auto;
    padding: 0;
    padding-top: 20px;
  }

  .project-text h1 {
    padding-top: 0;
  }
}

.slideshow {
  /*position: relative;*/
  margin: auto;

  max-width: 100%;
  max-height: 100%;
}

.slideshow-element {
    display: none;

    max-width: 100%;
    max-height: 100%;
}

.slideshow-element img {
  max-width: 95%;
  max-height: 100%;

  border-radius: 2%;

  display: block;
  margin: auto;
}

#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

#next {
  right: 1%;
  border-radius: 3px 0 0 3px;
}

#prev:hover, #next:hover {
  color: #f3e5e4;
}

.dot {
  cursor:pointer;
  height: 10px;
  width: 10px;
  margin: 0 1px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #f3e5e4;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.slideshow-counter {
  text-align: center;
}

/* Project description */

.project-text h1 {
  margin: 0;
  text-align: center;
}

.project-text .content {
  padding: 5px;
}

.project-text .content p {
  margin: 5px;
}

/* About */

.about-container {
  width: 100%;
  height: 100%;

  padding: 10px;
  padding-top: 5%;
}

.profile-image {
  display: block;
  max-width: 100%;
  max-height: 180px;
  margin: 0 auto;

  border-radius: 100%;
}

.description {
  width: 100%;
  padding-top: 15px;
}

.description .name {
  width: 100%;
  text-align: center;

  font-size: 1.4em;
  font-weight: bold;
}

.description .occupation {
  width: 100%;
  text-align: center;

  font-size: 1em;

  padding-bottom: 10px;
}

.description .project-button {
  display: block;
  margin: auto;
  text-align: center;

  font-size: 1.0em;

  border: 1px solid black;
}

@media screen and (min-width: 1100px) {
  .description .project-button {
    width: 25%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1100px) {
  .description .project-button {
    width: 35%;
  }
}

@media screen and (max-width: 800px) {
  .description .project-button {
    width: 50%;
  }
}

.description .project-button:hover {
  border: 1px solid #f3e5e4;
}

/*.description .name:after {
  content:' ';
  width: 10%;
  margin: auto;
  margin-bottom: 10px;
  display:block;
  border: 0.01em solid #000;
  height: 0;
}*/

.about-description {
  padding: 10px 20px;
}

.designs {
  text-decoration: underline;
}

.designs::after {
  display: none;
}

/* Index */

.index-content {
  width: 90%;
  height: 200px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


@media screen and (max-width: 900px) {
  .index-content {
    position: absolute;
    top: 15%;

    width: 90%;
    margin: 0 5%;
  }

  .index-left {
    max-width: : 100%;
    padding-bottom: 20px;
  }

  .index-image {
    max-width: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 900px) {
  .index-content {
    position: absolute;
    top: 30%;

    width: 70%;
    margin: 0 15%;
  }

  .index-image {
    display: block;
  }

  .index-left {
    max-width: 59%;
  }
}

.index-left {
  align-self: center;
}

.index-image {
  max-height: 100%;
  height: auto;
  width: auto;

  min-width: 40px;

  border-radius: 100%;
}

.index-title {
  font-size: 2em;
  padding-bottom: 15px;
}

/* 404 */

.error {
  position: absolute;
  top: 30%;

  width: 90%;
  height: 200px;
  margin: 0 5%;
}
